@import "tailwindcss";

@theme {
  --color-brand-orange: #ff4500;
  --color-brand-pink: #ff007f;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
}
